h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.App{
  text-align: center;
  position: absolute;
}
.cart-value{
  display: flex;
  justify-content: end;
  margin-top: 50px;
  margin-right: 100px;
}
.cart-value img{
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.App button{
  margin: 3px;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 27px;
}
.card-container img{
  width: 250px;
  height: 300px;
  margin: 10px auto;
}